@import '../../../styles/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  outline: none;
}
.input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  line-height: 25px;
  font-size: 1rem;
  &[type='date'],
  [type='datetime-local'] {
    width: 100%;
    cursor: pointer;
  }
  &[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    width: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
  &[type='datetime-local']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    width: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
}
.error {
  border: 1px solid red;
  &:focus-visible {
    border: 1px solid red;
  }
  &:focus {
    border: 1px solid red;
  }
}
.errorMessage {
  color: red;
}
.label {
  white-space: nowrap;
}
.calendarIcon {
  right: 15px;
  top: 12px;
  color: $secondary-dark;
}
.inputBox {
  position: relative;
  border: solid 1px $gray-3;
  display: flex;
  border-radius: 4px;
  padding: 8px;
  align-items: center;
}
.inputAdornment {
  margin-left: 8px;
  display: flex;
  height: 100%;
}
