@import "../../../../styles/variables.scss";

.root {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $padding-l;
  background-color: $primary-main;
  box-shadow: 0 2px 5px -1px gray;
}
