@import '../../../styles/variables.scss';

.select {
  display: none;
}
.option {
  padding: $padding-m;
}
.menu {
  left: 0;
}
.menuButton {
  display: flex;
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: black;
  text-transform: none;
  justify-content: space-between;
  border: solid 1px $gray-3;
  border-radius: 4px;
  &:hover {
    background-color: transparent;
  }
}
.root {
  position: relative;
  width: 100%;
}
.label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  &:hover {
    cursor: pointer;
  }
}
.iconChevronDown {
  width: 15px;
  color: $primary-main;
  font-size: 1rem;
}
.button {
  text-transform: none;
  width: 100%;
  justify-content: flex-start;
}
.error {
  border-color: red;
}
