@import '../../../styles/variables.scss';

.root {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.title {
  text-align: center;
}
.form {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: $padding-l;
  justify-content: center;
  align-items: center;
  & > :nth-child(n) {
    margin-bottom: $padding-l;
    width: 100%;
  }
  & > :last-child {
    margin-bottom: 0;
    width: 100%;
  }
}
.button {
  margin-top: $padding-l;
  margin-bottom: 0;
  padding: $padding-l;
}
.error {
  margin-left: $padding-l;
  margin-right: $padding-l;
  margin-top: $padding-l;
  padding: $padding-m;
  border: solid 2px red;
}
.fieldWithButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: $padding-l;
  box-shadow: 0 3px 2px -2px $primary-light;
}
.listItem {
  display: flex;
  padding: $padding-s;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: $padding-l;
}
.removeButton {
  border-radius: 50%;
  margin-left: 1rem;
}
.itemTitle {
  margin-bottom: 1rem;
}
