@import '../../../../styles/variables.scss';

.root {
  height: calc(100vh - 66px);
  background-color: $primary-main;
  width: 55px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  box-shadow: $box-shadow-bottom-right-sm;
  transition: $transtion-2;
  button {
    > span {
      display: none;
    }
  }
  & > :nth-child(n) {
    button {
      min-width: 100%;
      width: auto;
      line-height: 20px;
      justify-content: flex-start;
      padding: $padding-l;
      border-bottom: solid 2px $primary-dark;
      & > :nth-child(2) {
        margin-left: 12px;
      }
    }
  }
  & > :first-child {
    border-top: solid 2px $primary-dark;
  }
  a {
    width: 100%;
  }

  @media screen and (max-width: $xs) {
    display: none;
  }

  @media screen and (min-width: $lg) {
    width: 300px;
    max-width: fit-content;
    button {
      > span {
        display: inline-block;
      }
    }
  }
}
.opened {
  width: 300px;
  max-width: fit-content;
  button {
    > span {
      display: inline-block;
    }
  }
}
.icon {
  width: 20px;
  height: 20px;
}
