@import '../../../../styles/variables.scss';

.root {
  height: calc(100vh - 66px);
  background-color: $primary-main;
  width: 50px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  box-shadow: $box-shadow-bottom-right-sm;
  transition: $transtion-2;
  button {
    > span {
      display: none;
    }
  }
  & > :nth-child(n) {
    button {
      justify-content: flex-start;
      width: 100%;
      padding: $padding-l;
      border-bottom: solid 2px $primary-dark;
    }
  }
  & > :first-child {
    border-top: solid 2px $primary-dark;
  }
  a {
    width: 100%;
  }

  @media screen and (max-width: $xs) {
    display: none;
  }

  @media screen and (min-width: $md) {
    width: 185px;
    button {
      > span {
        display: inline-block;
      }
    }
  }
}
.opened {
  width: 300px;
  max-width: fit-content;
  button {
    > span {
      display: inline-block;
    }
  }
}
